<h1>Welcome#index</h1>
<%= link_to 'PRODUCTS', controller: 'products' %>
<%= link_to 'CARTS', controller: 'carts' %>
<%= link_to 'RECIPES', controller: 'recipes' %>
<%= link_to 'CART PRODUCTS', controller: 'cart_products' %>
<%= link_to 'RECIPE PRODUCTS', controller: 'recipe_products' %>