<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    </head>
    <body>

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ShopCart</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'PRODUCTS', products_path %></li>
                <li><%= link_to 'CARTS', carts_path %></li>
                <li><%= link_to 'RECIPES', recipes_path %></li>
                <li><%= link_to 'CART PRODUCTS', cart_products_path %></li>
                <li><%= link_to 'RECIPE PRODUCTS', recipe_products_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
      </nav>
      
      <div class="container-fluid">
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: center;" width="90%">Name</th>
              <th width="10%"/>
            </tr>
          </thead>        
          <% @products.each do |p| %>
            <tr>
              <td><%= p.name %></td>
              <% if @cart_products.include? p %>
                <td align="center">
                  <%= link_to cart_add_products_submit_path(id: p, c: @cart), method: :post do %>
                    <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-ok"></i></button>
                  <% end %>
                </td>
              <% else %>
                <td align="center">
                  <%= link_to cart_add_products_submit_path(id: p, c: @cart), method: :post do %>
                    <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-remove"></i></button>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
      </table>
        
      </div>
  </body>
</html>