<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    </head>
    <body>

    <%= render '/common/navegacion' %>
        
     <div class="alert alert-info text-center"><h5>Listing <strong>CARTS</strong></h5></div>
 
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center;" width="70%">Name</th>
            <th width="10%"/>
            <th width="10%"/>
            <th width="10%"/>
          </tr>
        </thead>
       
        <% @carts.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <% if p.status == 'open' %>
              <td align="center">
                <%= link_to close_cart_path(p), method: :post, data: { id: p.id } do %>
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                <% end %>
              </td>
            <% else %>
              <td align="center">
                <%= link_to open_cart_path(p), method: :post, data: { id: p.id } do %>
                  <i class="glyphicon glyphicon-ok"></i>
                <% end %>
              </td>                  
            <% end %>
            <td align="center">
              <%= link_to edit_cart_path(p) do %>
                    <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-edit"></i></button>
              <% end %>  
            </td>
            <td align="center">
              <%= link_to cart_path(p), method: :delete, data: { confirm: 'Are you sure?' } do %>
                   <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-remove"></i></button>
              <% end %>  
            </td>
          </tr>
        <% end %>
      </table>

      <div align="center" class="col-md-3 col-md-offset-4">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to controller: 'welcome' do %>
            <button type="button" class="btn btn-primary">Back</button>
          <% end %>
          <%= link_to new_cart_path do %>
            <button type="button" class="btn btn-primary">Add</button>
          <% end %>
        </div>
      </div>        
 
    </body>
</html>