<h1>Listing products</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th/>
  </tr>
 
  <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td><%= link_to 'UPDATE', edit_product_path(p) %> |
      <%= link_to 'DELETE', product_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'BACK', controller: 'welcome' %>
<%= link_to 'ADD', new_product_path %>