<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    </head>
    <body>

      <%= render '/common/navegacion' %>

     <div class="alert alert-info text-center"><h5>Listing <strong>PRODUCTS</strong></h5></div>
 
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center;" width="80%">Name</th>
            <th width="10%"/>
            <th width="10%"/>
          </tr>
        </thead>
       
        <% @products.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td align="center">
              <%= link_to edit_product_path(p) do %>
                    <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-edit"></i></button>
              <% end %>  
            </td>
            <td align="center">
              <%= link_to product_path(p), method: :delete, data: { confirm: 'Are you sure?' } do %>
                   <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-remove"></i></button>
              <% end %>  
            </td>
          </tr>
        <% end %>
      </table>

      <div align="center" class="col-md-3 col-md-offset-4">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to controller: 'welcome' do %>
            <button type="button" class="btn btn-primary">Back</button>
          <% end %>
          <%= link_to new_product_path do %>
            <button type="button" class="btn btn-primary">Add</button>
          <% end %>
        </div>
      </div>

  </body>
</html>